@model mPower.Web.Admin.Models.LogsModel
@using mPower.Web.Admin.Helpers
		   
     <table border="1px solid black" cellpadding="0" cellspacing="0">
        <thead>
            <th style="width: 200px;">
                Id
            </th>
            <th style="width: 100px;">
                Level
            </th>
            <th style="width: 500px;">
                Message
            </th>
            <th style="width: 200px;">
                Date
            </th>
        </thead>
        @foreach (var item in Model.Logs)
        {
            <tr>
                <td>@item.Id
                </td>
                <td>@item.Level
                </td>
                <td>
                    @if (item.Level == "Error" || item.Level == "Fatal")
                    {
                        <span style="color: Red;">@item.LogMessage<br/> @item.ExceptionMessage </span><a href="" class="detailsBtn">
                            Details</a> <div class="exception" style="display: none;">@Html.Raw(item.ExceptionTrace.Replace("\n", "<br />"))</div>
                    }
                    else
                    { 
                        <span>@item.LogMessage </span>
                    }
                </td>
                <td>@item.Date
                </td>
            </tr>
        }
    </table>	
<script type="text/javascript">
    $(document).ready(function () {
        $(".detailsBtn").click(function () {
            $(this).next().toggle();
            return false;
        });
    })
</script>

@Html.Paginator(this.Model, "paginator")